body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0044cc;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.content {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #30c413;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c2bf2b;
}

footer {
    background-color: #dd3b7e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
